# Java compiled files
*.class

# Package files
*.jar
*.war
*.ear

# IDE / build directories
bin/
target/
out/

# Libraries
lib/

# IDE settings
.vscode/
.idea/
*.iml
.classpath
.project

# Logs / temp
*.log
*.tmp
